* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: rgb(55, 55, 55);
}

header {
    background-color: #009BE5;
    padding: 10px;
}

header .row-01 {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

header .row-01 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #89D1F3;
    text-decoration: none;
}

header .row-01 i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header .row-01 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header .row-02 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

header .row-02 div:nth-child(1) {
    color: white;
    font-size: 20px;
}

header .row-02 div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .row-02 div:nth-child(2) button {
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    background-color: #009BE5;
    font-size: 13px;
    width: 77px;
    height: 28px;
}

header .row-02 div:nth-child(2) i {
    color: white;
}

header .menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

header .menu li {
    color: #89D1F3;
}